#container {
  margin: 0;
  display: flex;
  height: calc(100vh - 120px);
  flex-direction: column;
}

#data-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#data-wrapper button{
  height: 40px;
  margin: 0;
}

input {
  height: 20px;
  border: none;
  margin-bottom: 12px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}

input, select, textarea{
  color: black;
}

textarea:focus, input:focus{
  outline: none;
}