.container {
  margin: 0;
  display: flex;
  height: calc(100vh - 78px);
  flex-direction: column;
}

.bottom-area {
  display: flex;
  flex: 1;
}

.bottom-area #line {
  width: 6px;
  margin: 0 20px;
  height: 100%;
  background-color: #3578E5;
}

.btn-wrapper {
  display: flex;
}

.btn-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-left: 10px;
}

.point-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#line {
  width: 6px;
  margin: 0 20px;
  height: 60px;
  background-color: #3578E5;
}

#point {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background-color: #3578E5;
  position: absolute;
}

.default {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  margin: 4px 0;
  font-size: 16px;
  background-color: black;
}

.dispatch {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  margin: 4px 10px;
  font-size: 16px;
  background-color: black;
}